<header class="header">
  <div class="logo" (click)="goHome()">Ecart</div>

  <div class="user-controls">
    <span *ngIf="userName; else loginButton" class="greeting"
      >Hello, {{ userName }}</span
    >

    <button class="btn" *ngIf="!isAdmin" (click)="goCart()">Cart</button>
    <button class="btn" *ngIf="!isAdmin" (click)="goOrders()">Orders</button>
    <button *ngIf="userName" class="btn" (click)="logout()">Logout</button>
    <button class="btn profile-icon" (click)="goProfile()">Profile</button>
    <ng-template #loginButton>
      <button class="btn" (click)="goLogin()">Login</button>
    </ng-template>
  </div>
</header>
