.main {
  min-height: 80vh;
}
.login-container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h1 {
  font-size: 1.8rem;
  color: #16423c;
  margin-bottom: 1.5rem;
}

.login-container label {
  display: block;
  font-size: 1rem;
  color: #16423c;
  margin-bottom: 0.5rem;
  text-align: left;
}

.login-container input {
  width: -webkit-fill-available;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  color: #16423c;
  background-color: #e9efec;
}

.login-container input:focus {
  border-color: #2eaa53;
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(46, 170, 83, 0.3);
}

.btn {
  width: 100%;
  padding: 0.8rem;
  background-color: #2eaa53;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #2b8e4d;
  transform: scale(1.02);
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 1rem;
}

span {
  color: green;
}

@media (max-width: 768px) {
  .login-container {
    margin: 1rem auto;
    padding: 1.5rem;
  }

  .login-container h1 {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 0.9rem;
  }
}
