/* view-products.component.css */
.view-products-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #16423c; /* Dark green for header */
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.product-table th {
  background-color: #e9efec; /* Light grayish background */
  color: #16423c; /* Dark green text */
}

.product-table td {
  background-color: #ffffff; /* White background for table data */
}

.product-table tr:nth-child(even) td {
  background-color: #f4f4f4; /* Light gray for even rows */
}

.product-table tr:hover td {
  background-color: #6a9c89; /* Lighter green on hover */
  color: white;
}

.btn {
  padding: 8px 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
app-popup {
  position: absolute;
  top: 10;
  right: 10;
}
.back-button {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-btn {
  background-color: #4caf50; /* Green */
  color: white;
  font-weight: bold;
}

.delete-btn {
  background-color: #f44336; /* Red */
  color: white;
  font-weight: bold;
}

.update-product-form {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9; /* Light background */
}

.update-product-form h2 {
  text-align: center;
  color: #16423c; /* Dark green for header */
  font-size: 22px;
}

.update-product-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #16423c; /* Dark green for label text */
}

.update-product-form input,
.update-product-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.submit-btn {
  background-color: #4caf50; /* Green */
  color: white;
  font-weight: bold;
  padding: 10px 15px;
}

.cancel-btn {
  background-color: #f44336; /* Red */
  color: white;
  font-weight: bold;
  padding: 10px 15px;
}

.cancel-btn:hover,
.submit-btn:hover {
  opacity: 0.8;
}

.update-product-form button {
  margin-top: 10px;
}

.product-table td,
.product-table th {
  font-size: 14px;
  color: #16423c; /* Dark green for text */
}

.product-table td {
  background-color: #f9f9f9; /* Light gray for rows */
}
