<div class="add-product">
  <h1>Add Product</h1>
  <form (submit)="addProduct()">
    <label for="productName">Product Name:</label>
    <input
      type="text"
      id="productName"
      name="productName"
      [(ngModel)]="product.productName"
      required
    />

    <label for="productPrice">Product Price:</label>
    <input
      type="number"
      id="productPrice"
      name="productPrice"
      [(ngModel)]="product.productPrice"
      required
    />

    <label for="productCategory">Product Category:</label>
    <input
      type="text"
      id="productCategory"
      name="productCategory"
      [(ngModel)]="product.productCategory"
      required
    />

    <label for="productDescription">Product Description:</label>
    <textarea
      id="productDescription"
      name="productDescription"
      [(ngModel)]="product.productDescription"
      required
    ></textarea>

    <button type="submit" class="btn">Add Product</button>
  </form>

  <div *ngIf="successMessage" class="success-popup">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-popup">
    {{ errorMessage }}
  </div>
</div>
